
header {
  width: 512px;
  margin: auto;
  background-color: teal;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  padding: 10px;
}

.new {
  margin-top: -15px;

}

label {
  font-weight: bold;
  font-size: 2rem;
}

.mdl-layout-header {
  margin: auto;
}

form {
  margin: auto;
    width: 512px;
}

section {
  padding: 10px;
}

ul {
  width: 512px;
  margin: auto;
  padding-top: 1%;
  list-style: none;
}

.mdl-textfield__input {
  width: 375px;
  margin-top: -15px;
  }

  .mdl-textfield__label {
    margin-top: -15px;
  }

.mdl-button {
  float: right;
  height: 40px;
  margin-top: -10px;
}

.toDoList {
  width: 375px;
}

li {
  font-size: 20px;
  margin-right: 20px;
  margin-left: -15px;
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #999;

}

.checkmark {
  margin-right: 20px;
}
